body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

nav ul {
    background-color: #8a6ebd;
    overflow: hidden;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav li {
    list-style-type: none;
    float: left;
}

nav a {
    display: block;
    color: #fff;
    text-decoration: none;
    font-size: 15px;
    padding: 20px 20px;
    transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

main {
    min-height: calc(100vh - 120px);
}

footer {
    background-color: #8a6ebd;
    color: #fff;
    padding: 20px;
    text-align: center;
    width: 100%;
    bottom: 0;
}

footer div {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}